
env=vicprod

ami_id="ami-a3e09b93"

# Amazon SSH key for login.
aws_key="vicrasp"

# Bucket to write forecast data.
s3bucket="vicrasp"

# Bucket to get the current versions of scripts.
config_s3bucket=$s3bucket

# AWS zones to launch EC2 instances in.
region="us-west-2"
launch_region=(us-west-2a us-west-2b us-west-2c)

spot_price="0.30"
instance_type="c3.xlarge"

# Minutes, then comma separated list of hours, e.g. AM and PM runs.
am_and_pm_start="25 08,18"
am_and_pm_stop="59 07,19"

function register_zones()
{
	register_auto_scale 'VICTORIA VICTORIA+1 VICTORIA+2' \
			"$am_and_pm_start" "$am_and_pm_stop" \
			"$env-rasp-vic-12km" 
	register_auto_scale 'VICTORIA_NE' \
			"$am_and_pm_start" "$am_and_pm_stop" \
			"$env-rasp-vic-ne" 
	register_auto_scale 'MELBOURNE' \
			"$am_and_pm_start" "$am_and_pm_stop" \
			"$env-rasp-vic-melbourne"
	register_auto_scale 'GRAMPIANS' \
			"$am_and_pm_start" "$am_and_pm_stop" \
			"$env-rasp-vic-grampians"
}

